/venv/
__pycache__/
.idea/
.DS_Store
datasets/data/
datasets/ServerMachineDataset/processed/
eda/.ipynb_checkpoints/
plots/
*.pkl
models/

output/*/*/logs
output/*/*/preds.pkl
output/*/*/anomaly_preds.pkl
