/venv/
__pycache__/
.idea/
.DS_Store
datasets/ecg_data.txt
datasets/ServerMachineDataset/processed/
/datasets/data/processed/
/datasets/data/test/
/datasets/data/train/
eda/.ipynb_checkpoints/
plots/
*.pkl
models/
output/smd/*/logs
output/smd/*/preds.pkl
output/smd/*/anomaly_preds.pkl
